<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="ripc_plugins" params="namespace"> 

    <gazebo>
      <plugin
        filename="gz-sim-odometry-publisher-system"
        name="gz::sim::systems::OdometryPublisher">
        <odom_frame>odom</odom_frame>
        <robot_base_frame>base_link</robot_base_frame>
        <odom_topic>/model/${namespace}/odometry</odom_topic>
        <tf_topic>/model/${namespace}/tf</tf_topic>
        <odom_publish_frequency>50</odom_publish_frequency>
      </plugin>
    </gazebo>


    <gazebo reference="base_link">
      <preserveFixedJoint>true</preserveFixedJoint>
    </gazebo>

    <gazebo>
      <plugin
        filename="gz-sim-joint-state-publisher-system"
        name="gz::sim::systems::JointStatePublisher">
        <joint_name>ripc_usv_left_propellor_joint</joint_name>  
        <joint_name>ripc_usv_right_propellor_joint</joint_name>
        <topic>/model/ripc_usv/joint_states</topic>
      </plugin>
    </gazebo>

  </xacro:macro>

</robot>