<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="sensors" params="namespace parent_link xyz:='0 0 0' rpy:='0 0 0'"> 

    <link name="imu_link">
      <inertial>
        <mass value="0.01"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <inertia ixx="1e-7" ixy="0" ixz="0" iyy="1e-7" iyz="0" izz="1e-7"/>
      </inertial>
      <visual>
        <geometry>
          <box size="0.05 0.05 0.02"/>
        </geometry>
      </visual>
    </link>

    <joint name="imu_joint" type="fixed">
      <parent link="${parent_link}"/>
      <child link="imu_link"/>
      <origin xyz="${xyz}" rpy="${rpy}"/>
    </joint>

    <gazebo reference="imu_joint">
      <preserveFixedJoint>true</preserveFixedJoint>
    </gazebo>

    <gazebo reference="imu_link">
      <sensor name="imu_sensor" type="imu">
        <always_on>1</always_on>
        <update_rate>100</update_rate>
        <visualize>true</visualize>
        <topic>/model/${namespace}/imu</topic>
        <gz_frame_id>imu_link</gz_frame_id>
      </sensor>
    </gazebo>

    <gazebo>
      <plugin
        filename="gz-sim-imu-system"
        name="gz::sim::systems::Imu">
      </plugin>
    </gazebo>

  </xacro:macro>

</robot>