<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="imu_sensor_macro" params="namespace parent_link imu_name xyz rpy"> 

    <link name="${imu_name}_link">
      <inertial>
        <mass value="0.01"/>
        <inertia ixx="1e-7" ixy="0" ixz="0" iyy="1e-7" iyz="0" izz="1e-7"/>
      </inertial>
      <collision>
        <geometry>
            <box size="0.01 0.01 0.01"/> 
        </geometry>
      </collision>
    </link>

    <joint name="${imu_name}_joint" type="revolute">
        <parent link="${parent_link}"/>
        <child link="${imu_name}_link"/>
        <origin xyz="${xyz}" rpy="${rpy}"/>
        <limit effort="0" lower="0" upper="0" velocity="0"/> 
    </joint>

    <gazebo reference="${imu_name}_link">
      <sensor name="${imu_name}" type="imu">
        <always_on>1</always_on>
        <update_rate>100</update_rate>
        <topic>/model/${namespace}/${imu_name}</topic>
        <gz_frame_id>${imu_name}_link</gz_frame_id>
        
        <imu>
          <angular_velocity>
            <x><noise type="gaussian"><stddev>2e-4</stddev></noise></x>
            <y><noise type="gaussian"><stddev>2e-4</stddev></noise></y>
            <z><noise type="gaussian"><stddev>2e-4</stddev></noise></z>
          </angular_velocity>
          <linear_acceleration>
            <x><noise type="gaussian"><stddev>2e-4</stddev></noise></x>
            <y><noise type="gaussian"><stddev>2e-4</stddev></noise></y>
            <z><noise type="gaussian"><stddev>2e-4</stddev></noise></z>
          </linear_acceleration>
        </imu>
      </sensor>
    </gazebo>

    <gazebo reference="${imu_name}_joint">
      <preserveFixedJoint>true</preserveFixedJoint>
    </gazebo>

  </xacro:macro> </robot>