<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro" name="ripc_usv">

  <!-- Include dynamics plugin macros -->
  <xacro:include filename="$(find ripc_description)/dynamics/ripc_dynamics_plugin.xacro"/>
  <xacro:include filename="$(find ripc_description)/dynamics/thruster_dynamics.xacro"/>
  <xacro:include filename="$(find ripc_gazebo)/plugins/ripc_plugins.xacro"/>

  <xacro:ripc_plugins namespace="ripc_usv" />
  <xacro:ripc_thrusters namespace="ripc_usv" parent_link="base_link"/>
  <xacro:usv_dynamics_gazebo namespace="ripc_usv"/>

  <!-- ================== Base link / Dummy root ================== -->
  <link name="base_link">
  </link>

  <!-- ================== Hull ================== -->
  <link name="hull">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="120"/>
      <inertia ixx="120" ixy="0.0" ixz="0.0"
               iyy="393" iyz="0.0"
               izz="446"/>
    </inertial>

    <visual>
      <origin xyz="0.446 0 0.0127" rpy="0 0 1.5708"/> 
      <geometry>
        <mesh filename="package://ripc_description/meshes/ripc_usv.dae" scale="1 1 1"/>
      </geometry>
      <material name="ripc_hull_color">
        <color rgba="0.1 0.2 0.8 1.0"/>
      </material>
    </visual>
    
      <!-- SIMPLE collision box -->
    <collision name="hull_collision_box">
      <origin xyz="0 0 -0.106" rpy="0 0 0"/>
      <geometry>
        <box size="1.45 0.70 0.20"/>
      </geometry>
    </collision>

  </link>

  <!-- Fixed joint from base_link to hull -->
  <joint name="base_to_hull" type="fixed">
    <parent link="base_link"/>
    <child link="hull"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
 
</robot>
