<xacro:macro name="gps_macro" params="parent">
  <link name="gps_link"/>
  <joint name="gps_joint" type="fixed"><parent link="${parent}"/><child link="gps_link"><origin xyz="0 0 0.05"/></child></joint>

  <gazebo reference="gps_link">
    <plugin name="gps_sensor" filename="libgazebo_ros_gps_sensor.so">
      <ros>
        <namespace>/custom_usv</namespace>
        <remapping>gps:=gps/fix</remapping>
      </ros>
      <frame_name>gps_link</frame_name>
    </plugin>
  </gazebo>
</xacro:macro>
