<xacro:macro name="imu_macro" params="parent">
  <link name="imu_link"/>
  <joint name="imu_joint" type="fixed"><parent link="${parent}"/><child link="imu_link"><origin xyz="0 0 0.05"/></child></joint>

  <gazebo reference="imu_link">
    <plugin name="imu_sensor" filename="libgazebo_ros_imu_sensor.so">
      <ros>
        <namespace>/custom_usv</namespace>
        <remapping>imu:=imu/data</remapping>
      </ros>
      <update_rate>100</update_rate>
      <frame_name>imu_link</frame_name>
    </plugin>
  </gazebo>
</xacro:macro>
