<xacro:macro name="lidar_macro" params="parent">
  <link name="lidar_link"/>
  <joint name="lidar_joint" type="fixed"><parent link="${parent}"/><child link="lidar_link"><origin xyz="0.3 0 0.2" rpy="0 0 0"/></child></joint>

  <gazebo reference="lidar_link">
    <sensor type="ray" name="lidar_sensor">
      <update_rate>20.0</update_rate>
      <ray>
        <scan>
          <horizontal>
            <samples>360</samples>
            <resolution>1</resolution>
            <min_angle>-1.5708</min_angle>
            <max_angle>1.5708</max_angle>
          </horizontal>
        </scan>
        <plugin name="gazebo_ros_laser" filename="libgazebo_ros_laser.so">
          <topicName>/custom_usv/scan</topicName>
          <frameName>lidar_link</frameName>
        </plugin>
      </ray>
    </sensor>
  </gazebo>
</xacro:macro>
