<?xml version="1.0"?>
<model>
  <name>ripc_usv</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>
  <author>
    <name>Your Name</name>
    <email>you@example.com</email>
  </author>
  <description>RIPC USV with two fixed thrusters using Gazebo Thruster system.</description>
</model>
